.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

.preload {
    display: none;
}

.main-window {
    height: auto;
    width: auto;
    margin: auto;
    position:absolute;
}
